body{
    background-color: white;
    width: 960px;
    margin: 0px;
}

html{
    font-size: medium;
    
}

.list-item {
    display: block;
    margin-bottom: 20px;
    background-color: rgb(42, 209, 139);
    color: black;
}


h1{
    color: #2a2a2a;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 20px;
}

h2{
    font-weight: bold;
    font-size: large;
}

#mapid { 
    height: 400px; 
    margin-top: 43px;
}

form.search-form.column p {
    margin-bottom: 35px;
    font-size: larger;
}

label.label {
    font-weight: bolder;
    color: black;
}
